.container {
  flex: 0.45;
  height: 100vh;
  border-right: 1px solid whitesmoke;
  min-width: 250px;
  max-width: 20%;

  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;

  .header {
    display: flex;
    flex-direction: column;
    padding: 15px;
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid whitesmoke;
    background-color: white;
    margin-bottom: 10px;

    .infoContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;

      .infomation {
        display: flex;
        align-items: center;
      }

      .userAvatar {
        :hover {
          cursor: pointer;
          opacity: 0.8;
        }
      }

      .title {
        font-size: 24px;
        margin-left: 10px;
        font-weight: bold;
        color: gray;
      }

    }

    .search {
      display: flex;
      align-items: center;
      background-color: whitesmoke;
      padding: 10px;
      border-radius: 60px;

      .searchInput {
        flex: 1;
        border: none;
        background-color: whitesmoke;
        outline-width: 0;
      }
    }
  }



  .divider {
    margin: 8px 0 !important;
    width: 98%;
  }
}