.message {
  position: relative;
  width: fit-content;
  padding: 12px;
  border-radius: 16px;
  margin: 8px;
  margin-bottom: 12px;
  position: relative;
  min-width: 40px;
  max-width: 50%;
  word-break: break-all;
  border: none;

  >p {
    margin: 0;
  }

  .timestamp {
    color: black;
    padding: 10px 10px 4px 10px;
    font-size: 8px;
    position: absolute;
    bottom: 0;
    text-align: right;
    right: 0;
  }

  .iconButton {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;

    .icon {
      font-size: 1rem;
    }
  }

  .iconPickerContainer {
    position: absolute;
    bottom: 16px;
  }

  .reactIcon {
    position: absolute;
    bottom: -8px;
    left: 0;
    background-color: white;
    border-radius: 90px;
    cursor: pointer;
  }
}

.imageMessage {
  border: 1px solid whitesmoke;
  max-width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 16px;
}

.senderIcon {
  left: -40px;
}

.recieverIcon {
  right: -40px;
}

.senderImage {
  margin-left: auto;
}

.sender {
  margin-left: auto;
  background-color: rgb(0, 132, 255);
  color: white;
}

.reciever {
  background-color: #E4E6EB;
  color: black;
}