.container {
  flex: 0.45;
  height: 100vh;
  border-left: 1px solid whitesmoke;
  min-width: 250px;
  max-width: 20%;

  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;

  span {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .header {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: white;
    margin-bottom: 10px;
    align-items: center;

    .infomation {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .userAvatar {
      height: 80px;
      width: 80px;
      margin-bottom: 12px;

      :hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }

    .title {
      font-size: 1.0625rem;
      margin-left: 10px;
      font-weight: bold;
    }
  }

  .optionContainer {

    .option {
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;

      box-shadow: 0 0 0 0;
      border-radius: 12px;
      padding: 16px 12px;
      margin: 0px 8px;
      line-height: 1.3333;
      font-size: .9375rem;

      span {
        font-weight: 600;
      }

      &:hover {
        background-color: rgb(240, 242, 245);
      }
    }

    .optionDetail {
      display: flex;
      align-items: center;
      cursor: pointer;

      width: 100%;
      padding: 8px 16px;
      margin: 0 12px;
      border-radius: 12px;

      &:hover {
        background-color: rgb(240, 242, 245);
      }

      >span {
        margin-left: 12px;
      }
    }

  }
}