.container {
  .option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    box-shadow: 0 0 0 0;
    border-radius: 12px;
    padding: 16px 12px;
    margin: 0px 8px;
    line-height: 1.3333;
    font-size: .9375rem;

    span {
      font-weight: 600;
    }

    &:hover {
      background-color: rgb(240, 242, 245);
    }
  }

  span {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}