.container {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  word-break: break-word;

  border-radius: 12px;
  padding: 4px;
  margin: 0 4px;

  &:hover {
    background-color: #F0F2F5;
  }


  .notiDot {
    position: absolute;
    background-color: #0099FF;
    height: 12px;
    width: 12px;
    right: 15px;
    border-radius: 90px;
  }

  .infoContainer {
    display: flex;
    flex-direction: column;
    padding: 8px;
    align-self: flex-start;

    .noti {
      font-weight: bold;
    }

    .email {
      color: #050505;
      font-size: 16px;
      line-height: 28px;
    }

    .time {
      position: absolute;

      font-size: 12px;
      color: grey;
      bottom: 4px;
      right: 12px;
      margin: 0;
    }

    .preview {
      width: 160px;
      font-size: 14px;
      color: #65676B;

      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      word-break: break-word;
    }
  }
}

.avatar {
  margin: 5px;
}