.container {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    padding: 15px;
    z-index: 100;
    background-color: white;
    top: 0;
    border-bottom: 1px solid whitesmoke;

    .infomation {
      display: flex;
      align-items: center;

      .avatar {
        margin-right: 15px;
        cursor: pointer;

        &:hover {
          opacity: 0.8;
        }
      }

      .nameContainer {
        display: flex;
        flex-direction: column;

        >span {
          font-weight: bold;
          font-size: 1.0625rem;
        }

        >p {
          margin: 6px 0 0 0;
          color: gray;
          font-size: 12px;
        }
      }
    }
  }

  .inputContainer {
    display: flex;
    position: sticky;
    position: -webkit-sticky;
    z-index: 100;
    background-color: white;
    align-items: center;
    margin-top: 6px;

    .inputWrapper {
      flex: 1;
      background-color: whitesmoke;
      border-radius: 60px;
      padding: 20px;
      margin: 0 10px;

      .input {
        outline: 0;
        border: none;
        background-color: whitesmoke;
        width: 100%;
      }
    }

    .iconPickerContainer {
      position: absolute;
      bottom: 60px;
      left: 30px;
    }
  }

  .icon {
    color: rgb(0, 153, 255) !important
  }

  .messagesContainer {
    height: 79vh;
    padding: 30px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;

  }
}