.container {
  display: flex;
  //height: 100vh;
}

.chatContainer {
  flex: 1;
  height: 100vh;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}